.input {
    width: 310px;
    height: 50px;
    border: 2px solid #232323;
    padding: 0 12px;
    border-radius: 5px;
    /* =========== */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232323;
}
.input::placeholder{
    color: rgba(24, 24, 24, 0.5);
}
.passwordInput {
 
    margin: 0 !important;;
    border: none !important;
    border-radius: none !important;
}

.passwordRow {
    border-radius: 5px;
    border: 2px solid #232323;
/*     width: calc(100% - 50px) !important; */
    height: 100%;
    display: flex;
    flex-direction: row;
}

.eyeIconButton {
    cursor: pointer;
    border: none;

    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eyeIcon {
    width: 23px;
    height: 16px;
}

.errorInput {
    position: absolute;
    transform: translateY(0px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF2430;
}
@media (max-width: 1500px){
    .passwordRow{
       /*  width: 290px; */
        height: 35px;
    }
    .passwordInput{
        width: 80% !important;
        height: 25px !important ;
        margin: auto 0 !important;
    }
    .eyeIconButton{
        width: 30px;
        height: 30px;
        margin-left: auto;
        margin-right:5px;
    }
    .eyeIcon{
        width: 20px;
        height: 16px;
    }
}
@media (max-width: 1300px),(max-height: 700px){
    .errorInput {
        position: absolute;
        transform: translateY(0px);
    }
    .input {
        font-size: 16px;
    }
}
@media (max-width: 600px){
    .errorInput {
        transform: translateY(0px);
    }
}