.adminComment {

    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.adminCommentButton {
    width: 250px;
    height: 45px;
    font-size: 18px;
}

.admintCommentInput {
    border: 2px solid #232323;
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 15px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232323;


}

/* color: rgba(24, 24, 24, 0.3); */

.admintCommentInput::placeholder {
    color: rgba(24, 24, 24, 0.4);
}

@media (max-width: 1300px){
    .admintCommentInput{
        margin-top: 10px;
        font-size: 16px;
    }
    .adminCommentButton{
        font-weight: normal;
        font-size: 16px;
        width: 200px;
        height: 40px;

    }
}