.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 20px ;
}

.topRow {
    column-gap: 30px;
    height: auto;
  
}

.buttonRow {
    width: 350px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}
.inputs{
    width: 100%;
}
.button {
    width: 100% !important;
    height: 45px ;
    font-size: 20px;
}
.dropBlock{
    width: 100%;
}

.delete {
    background: #C44637;
    border: #C44637;
}

.userPhoto {
    width: 190px;
    height: 240px;
}

.userPhotoImg{
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
    border-radius: 40px;
}

@media (max-width: 1500px) {
    .button {
     
        height: 35px !important;
        font-size: 18px !important;
        font-weight: normal;
    }
    .buttonRow,.dropBlock{
        width: 270px !important;
    }
   
}
@media (max-height: 750px) {
.userPhoto {
    height: 220px;
}
}