.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    margin-top: auto;
    padding: 20px;
}
.topRow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.topTitle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #232323;
}
.topButton{
    width: 400px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
}


@media (max-width: 1500px){
    .main{
        height: 100%;
        padding: 15px 20px;
    }

    .topTitle{
        font-size: 22px;
    }
    
    .topButton{
        width: 280px;
        height: 40px;
        font-size: 17px;
    }

}

@media (max-height: 750px){
    .main{
        max-height: 330px;
        min-height: 330px;

    }
}