.noPulling{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* Du hast noch nichts besaitet. Höchste Zeit uns zu besuchen! */

.noPullingText{
    margin: auto 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #232323;
}
.noPullingButton{
    width: 370px;
    height: 38px;
    font-size: 20px;
}

@media (max-width: 1500px) {
    .noPullingText{
        font-size: 20px;
    }
}


@media (max-width: 600px) {
    .noPullingText{
        font-size: 24px;
     
    }
    .noPullingButton{
        width: 100%;
    }
}