.errorInput {
    border: 20px solid #7877;
}

/* .button {
    width: 390px;
    height: 60px;
} */

.questionTextClass {
    width: 400px !important;
}


.input {
    width: 360px
        /*  !important */
    ;
    height: 45px;

    font-size: 16px !important;
}
@media (max-width: 1500px) {
    .input {
        width: 290px;
        height: 35px;
    }
}
@media (max-width: 600px) {
    .input {
        width: 100%;
    }
}