.mainBlock {

    height: 80px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.leftMenu {
    text-align: center;
    margin-right: 10px;
    width: 390px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
}

.centralBlock {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    text-align: center;
    color: #FFFFFF;

}

.buttonRow {
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    align-items: center;
    height: auto;
    margin-left: 10px;
    height: 100%;
}

.moreInfoButton {
    width:50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iImage {
    width: 25px;
    height: 25px;
}

.delteButton {
    width: 360px;
    font-size: 18px;
    height: 100%;
/*     min-width: 325px;
    min-height: 100%;
    height: 63px */
}

.flutter {
    width: 625px;
    padding: 28px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flutterTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.flutterRacketsList {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

.flutterRacketsItem {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #000000;


}

.flutterButton {
    width: 400px;
    height: 45px;
    font-size: 20px;
/*     fw */
}
@media (max-width: 1520px) {
    .mainBlock {

        height: 70px;
        min-height: 70px;
    }
    .delteButton{
        width: 230px;
        font-size: 16px;
    }
    .moreInfoButton {
        width:40px;
    }
}
@media (max-width: 1000px) {
    .leftMenu,.centralBlock {
        font-size: 16px;
        font-weight: normal;
    }
}

@media (max-width: 710px) {
    .mainBlock {
        height: auto;
        min-height: auto;
        margin-top: auto;
        flex-wrap: wrap;
        padding: 15px;
        border-radius: 20px;
    }
    .leftMenu{
        width: 45%;
        text-align: center;
        font-size: 16px;
        height: 60px;
    }
    .centralBlock{
        width: 45%;
        text-align: center;
        font-size: 16px;
        height: 60px;
        min-height: 60px;
    }
    .buttonRow{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: 10px;
    }
    .moreInfoButton{
        margin: 0;
  
    }
    .delteButton,.moreInfoButton{
        width: 45%;
        height: 40px;
        font-size: 18px;
        font-weight: normal;
    }
    .flutter{
        width: 95%;
        padding: 15px;
    }
    .flutterButton{
        width: 95%;
        height: 45px;
    }
    .flutterTitle{
        font-size: 23px;
        line-height: 25px;
    }
    
    .flutterRacketsList{

    }
    .flutterRacketsItem{
        font-size: 18px;
        line-height: 25px;
    }
}