.container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.input {
    width: 390px;
    height: 55px;
    border: 3px solid #232323;
    border-radius: 5px;

    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;



    color: #232323;


}

.input::placeholder {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    color: #000000;
    opacity: 0.5;
}

.label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0.5;

}

@media (max-width: 1700px) {
    .input {
        width: 320px;
        height: 50px;
    }
}
@media (max-width: 1520px) {
}
@media (max-width: 600px) {
    .container {
        row-gap: 2px;
    }

    .input {
        padding-left: 5px;
        width: 100%;
        height: 30px;
        border: 1px solid #232323;
        font-size: 16px;

    }

    .label {
        font-weight: normal;
        font-size: 16px;
    }
}