.recordRow {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: auto;
    max-height: 750px;
}

@media (max-width:1500px){
    .recordRow{
        row-gap: 10px;
    }
}
