.recordRow{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow-y: auto;
    max-height: 700px;
}


@media (max-width: 600px) {
    .recordRow{
        overflow-y: none;
        overflow-x: hidden;
        max-height: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}