.recordRow{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    overflow: initial;
    max-height: 100%;
    max-width: 100%;

 /*    overflow-y: auto !important; */
    position: relative;
}


@media (max-width: 1520px) {
    .recordRow{
        height: 100%;
        overflow: initial;
        margin-top: 20px;
    }
}