.flutterMenu{
    width: 100%;
    padding: 25px;
    padding-top: 10px;
    position: relative !important;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.topRow{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.title,.nullError{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #232323;
/*     margin-bottom: 30px; */
}
.button{
    font-size: 20px;
    width: 450px;
    height: 45px ;
    border-radius: 10px;
}
.nullError{
    margin: auto;
    /* Du hast noch nichts besaitet. Höchste Zeit uns zu besuchen! */
}
.editShadow{
    background: rgba(0, 0, 0, 0.4);
 
    opacity: 0.9;
}
@media (max-width: 1500px), (max-height: 700px) {
    .title{
        margin-bottom: 0;
        font-size: 20px;
    }
    .button{
        width: 340px;
        height: 38px;
        font-size: 18px;
    }
    .flutterMenu{
        height: 285px;
        padding: 15px 25px;
    }
}

@media (max-width: 600px){
    .flutterMenu{
        padding: 15px;
        margin-bottom: 30px;
        height: auto;
    }
    .topRow{
        justify-content: center;
        height: auto;
    }
    .title{
        margin-bottom: 0;
        font-size: 20px;
    }
    .button{
        width: 100%;
        margin-top: 20px;
        height: 40px !important;
    }

}