.list{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 20px;
    overflow-y: auto;
}
.item{
    width: 100%;
    height: 120px;
    min-height: 120px;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;

}

.mainRow{
    display: flex;
    flex-direction: row;
    padding: 15px;

}
.racketCode{
    font-size: 16px;
}
.contentBlock{
    width: 300px;
    border-right: 1px solid #ffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentBlock:last-child{
    border-right: none;
}

.contentTitle{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}
.contentLine{
    width: 90%;
    height: 1px;
    min-height: 1px;
    background: #FFFFFF;
}
.contentText{
    text-align: center;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}
.buttonsRow{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    height: 100%;
    padding: 5px 0;
    
}
.button{
    margin-left: auto;
    width: 35px;
    height: 35px;
    border-radius: 10px;

}
.edit{
    background-color: #FFBA00;
}
.buttonImg{
    width: 25px;
    height: 25px;
}
.delete{
    background: #C44637;
}
.delete img{
    width: 30px;
    height: 30px;
}

@media (max-width: 1700px){
    .item{
        height: 110px;
        min-height: 110px;
        padding: 0;
        padding-right: 20px;
    }
    .contentBlock{
        width: 250px;
     
    }
}
@media (max-width: 1500px){
    .item{
        height: 110px;
        min-height: 110px;
        padding: 0;
        padding-right: 20px;
    }
    .contentBlock{
        width: 190px;
     
    }
    .contentTitle{
        font-size: 16px;
        font-weight: normal;
    }
    .contentText{
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
    /*     overflow-y: auto; */

        padding-top: 13px;
    }
    .button{
        width: 32px;
        height: 32px;
        border-radius: 8px;
    }
    .buttonImg{
        width: 25px;
        height: 25px;
    }
}

@media (max-height: 750px){
    
}