.textBlock{
    position: absolute;
    display: flex;

    min-width: 350px;
    min-height: 100px;
    background: #fff;
    border: 2px solid #232323;
    border-radius: 8px; 
    transform: translate(-300px, 10px);
    padding: 15px;

    /* ====== */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #232323;
    z-index: 1000;
    opacity: 0;
    transition: .2s ease-in-out opacity,.1s ease-in-out display;
    display: none;
}
.open{
    opacity: 1;
    display: block;
}
.icon{
    width: 50px;
    height: 50px;
}


.bottomRight{
    transform: translate(30px, 0px);
}
.small{
    transform: translateY(-6px);
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17px;
}
.smallIcon{
    margin: auto;
    width: 15px;
    height: 15px;
}
@media (max-width: 600px){
    .icon{
        width: 40px;
        height: 40px;
    }
    .icon img{
        width: 35px !important;
        height: 35px !important;
    }
}


@media (max-width: 400px) {
    .icon{
        width: 35px;
        height: 35px;
    }
    .icon img{
        width: 30px !important;
        height: 30px !important;
    } 
}