.besaitungCard {
    width: 100%;
    height: 315px;
    min-height: 270px;
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}

.topBlock {
    width: 320px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.topLeftBlockTitle,
.topLeftBlockSubTitle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}

.topLeftBlockTitle {
    font-size: 24px;
}

.topLeftBlockSubTitle {
    font-size: 20px;
}

.BottomLeftBlock {
    margin-top: auto;
    width: 320px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blockColumn {
    justify-content: space-between;
    height: 100%;
    row-gap: 15px;

}

.stringHardnes {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}

.stateBlock {
    width: 360px;
    height: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    min-width: 360px;
    width: 360px;
    height: 65px;
    min-height: 65px;
}

@media (max-width: 1520px) {
    .besaitungCard {
        padding: 15px;
        height: 200px;
        max-height: 200px;
        min-height: 200px;
    }
    .blockColumn {
        width: 230px;
        max-width: 230px;
        min-width: 230px;
    }
    .topBlock,
    .BottomLeftBlock {
        width: 100%;
    }
    .BottomLeftBlock{
        justify-content: start;
        height: 90px;
    }

    .stringHardnes,.topLeftBlockTitle{
        width: 100%;
        margin: 0;
/*         word-wrap: break-word;
        height: auto; */
        line-height: 30px;
    }

    .topBlock,.stateBlock {
        width: 100%;
    }
    .button{
        min-width: 100%;
        width: 100%;
        height: 55px;
        min-height: 55px;
    }
    .stringHardnes{
        font-size: 30px;
    }
    .topLeftBlockSubTitle{
        font-size: 18px;
    }
    .topLeftBlockTitle{
        font-size: 20px;

    }
    .strings{
        font-size: 18px;
        margin: auto;
        padding: 0 3px;
    }
}
@media (max-width: 1350px) {
    .besaitungCard {
        column-gap: 20px;
    }
}
@media (max-width: 600px) {
    .besaitungCard {
        padding: 10px;
        height: 190px;
        max-height: 190px;
        min-height: 190px;
        column-gap: 0;
        justify-content: space-between;
    }

    .blockColumn {
        width: 45% !important;
        max-width: 45% !important;
        min-width: 45% !important;
    }

    .topBlock,
    .BottomLeftBlock {
        width: 100%;
    }

    .topBlock,.stateBlock {
        width: 100%;
        height: 60px;
        padding: 20px 0;
    
    }

    .topLeftBlockTitle,
    .topLeftBlockSubTitle {
        font-size: 16px;
    }

    .topLeftBlockSubTitle {
        margin-top: -7px;
    }

    .BottomLeftBlock {
        height: 90px;
    }

    .stringHardnes {
        font-size: 24px;
    }
    .strings {
        margin-top: -10px;
    }
    .topLeftBlockTitle{
        line-height: 23px;
    }
    .button{
        font-size: 20px !important;
        width: 100% !important;
        height: 45px !important;
        min-width: 100% !important;
        min-height: 35px !important;
    }
}