.main {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Растянуть блок на 100% высоты окна браузера */
}
.topRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
}

.inputs{
    max-width: 100%;
    min-width: 150px;
    width: auto;
}

@media (max-width: 1300px){
    .inputs{

    width: 250px;
}
}
