.flutterMenu{
    width: 880px;
    padding: 20px 40px;
    padding-bottom: 40px;
}
.mainColumn{
    width: 100%;
    flex-direction: column;
}
.title{
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #232323;
}
.inputsRow{
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 53px;
    row-gap: 20px;
}
.button{
    width: 390px;
    height: 45px;
    font-size: 20px;
}
.buttonRow{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.actioveButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
}
.hidden{
    display: none !important;
}
@media (max-width: 1500px) {
    .flutterMenu{
        width: 730px;
        padding: 20px 40px;
        padding-bottom: 40px;
    }
    .button{
        height: 40px;
        width: 290px;
        font-size: 18px;
        font-weight: normal;
    }
   /*  .inputsRow{
        row-gap: 20x;
    } */
}
@media (max-width: 950px){

    .flutterMenu{
        width: 95%;
    }
    .inputsRow{
        column-gap: 20px;
    }

}
@media (max-width: 600px){
    .flutterMenu{
        width: 100%;
        height: 100%;
        position: relative !important;
        border-radius: 0;
        padding: 0;
        z-index: 1;
    }
    .buttonRow{
        width: 100%;
    }
    .actioveButtons{
        width: 100%;
        min-width: 100%;
        flex-direction:column-reverse;
        row-gap: 10px;
    }
    .button{
        width: 100%;

    }
    .inputsRow{
        justify-content: start;
        flex-direction: column !important;
        height: auto;
        min-height: auto;
        max-height: auto;
        padding-bottom: 5px;
    }
} 
