.main{
    position: relative;
}

.button{
    justify-content: space-between;
    padding: 0 20px;
    width: 350px;
    height: 45px;
    z-index: 1000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
.arrow{
    width: 19px;
    height: 10px;
}
.dropDownList{
    position: absolute;
    transform: translateY(10px);
    width: 350px;
    z-index: 10;
    background: #FFFFFF;
    border-radius: 10px;

    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px ;

    display: flex;
    flex-direction: column;
    row-gap: 14px;

}
.dropDownItemButton{
    background-color: #FFFFFF;
    border: none;
    text-align: start;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}
.dropDownItem{
    display: flex;
    flex-direction: row;
}
.grad{
    transform: rotate(180deg);
}

/* .questionText{
    position: absolute;
    background-color: #FFFFFF;
    text-align: start;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    transform: translate(200px,20px);
    min-width: 350px;
    min-height: 100px;
    border-radius: 10px;
    border: 3px solid #0000;

} */
@media (max-width: 1500px) {
    .button{
        width: 300px;
        height: 45px;
        font-size: 18px;
    }
    .dropDownList{
        padding: 10px;
        width: 300px;
        row-gap: 5px;
    }

    .dropDownItemButton{
        font-size: 16px;
    }
}
@media (max-width: 600px) {
    .button{
        width: 330px;
    }
   
}


