.fluter {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    width: 550px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 10px;
    text-align: center;
}

.flutterRow {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    justify-content: center;
    margin: 25px 0;
}

.buttonRow {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
}

.rateButton {
    width: 60px !important;
    height: 80px !important;
    border-radius: 100%;
}

.rateImg {
    width: 80px !important;
    height: 80px !important;
    border-radius: 100%;
}

.button {
    width: 230px;
    height: 45px;
    font-size: 20px;
}

.none {
    display: none;
}

.selected {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1) !important;
}

.error {
    border: 3px solid #FF2430 !important;
}

@media (max-width: 600px) {
    .flutterRow {
        column-gap: 30px;
    }

    .rateImg,
    .rateButton {
        width: 70px !important;
        height: 70px !important;
    }

    .title {
        font-size: 20px;
    }

    .fluter {
        width: 390px !important;
        padding: 20px;
    }

    .buttonRow {
        column-gap: 10px;
    }

    .button {
        width: 170px !important;
        height: 45px !important;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .fluter{
        width: 95vw !important;
    }
    .rateImg,
    .rateButton {
        width: 50px !important;
        height: 50px !important;
    }

    .button {
        width: 140px !important;
        height: 40px !important;
        font-size: 18px;
    }

    .flutterRow {
        margin: 0px;
        margin-top: 10px;
    }
}