.main {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.input {
    width: 100%;
    font-size: 16px;
    height: 40px;
}

.inpitTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #000000;
    opacity: 0.5;
}
.inputRow {
    row-gap: 10px;
}

@media (max-width: 1500px) {
    .main {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .input {
        height: 37px !important;

    }

    .inpitTitle,
    .input {
        font-size: 16px;
    }

    .main {
        row-gap: 10px;
    }
}

@media (max-width: 1200px),
(max-height: 700px) {
    .main {
        row-gap: 10px;
    }

    .inpitTitle,
    .input {
        font-size: 16px;
    }

    .input {
        height: 35px !important;

    }

    .inputRow {
        row-gap: 2px;
    }
}

@media (max-width: 600px) {
    .main {

        row-gap: 5px;
    }
}