.changePhotoFlutter {
    width: 650px;
    height: 500px;
    height: auto;
}


.changePhotoItem {
    cursor: pointer;
    width: 120px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 0;
    overflow: hidden;


}

.changePhoto {
    width: 100% !important;
    /* Ширина изображения будет равна ширине контейнера */
    min-height: 100% !important;
    /* Высота изображения автоматически рассчитывается, чтобы сохранить пропорции */
    object-fit: cover !important;
    /* Изображение будет растянуто или сжато так, чтобы полностью заполнить контейнер */
    object-position: center !important;
    border-radius: 40px;
}


.edditTitle {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    text-align: center;

    color: #30484D;


}

.photosItems {
    margin-top: 35px;
    margin-bottom: 60px;
    width: 100%;
    row-gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.focus {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.7);
}


/*================admin============= */
.adminFlutter {
    padding: 0px;
    width: 700px;
    height: auto;
   
    flex-direction: row;
    align-items: center;
}

.adminFlutter >.photosItems {
    margin: 0;
   /*  height: 100%; */
   justify-content: space-around;
}
.adminFlutter .changePhotoItem{
    width: 115px;
    height: 145px;
    border-radius: 30px;
}


/* ============ */
@media (max-width: 1500px) {
    .buttons{
        margin-top: 30px;
    }
    .changePhotoFlutter{
        padding: 20px 40px;
    }
    .adminFlutter   {
        width: auto;
    
        padding: 10px 20px;
    }
  
    .actionButton{
        width: 47%;
        height: 40px;
        font-size: 18px;
    }
    .photosItems {
        margin: 0;
        margin-top: 15px;
        column-gap: 20px;
    }

    .changePhotoItem {
        width: 110px;
        height: 140px;
    }
    .adminFlutter .changePhotoItem{
        width: 115px;
        height: 145px;
        border-radius: 30px;
    }
}

@media (max-width: 1220px) {
    .changePhotoItem {
        width: 90px;
        height: 120px;
        border-radius: 20px;
    }
}

@media (max-width: 600px) {
    .changePhotoFlutter {
        width: 95%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .photosItems {
        margin-top: 20px;
        margin-bottom: 20px;
        row-gap: 20px;
        flex-wrap: wrap;
    }

    .buttons {

        column-gap: 20px;
    }

    .actionButton {
        max-width: 170px;
        /*    width: 170px; */
        min-width: 140px;
        height: 45px;
    }
}



@media (max-height: 700px) {
    .adminFlutter{
        height: 200px;
    }
}