.flutter {
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding: 0 !important;


}

.img {
  display: block;
  width: 100% !important;
  /* Ширина изображения будет равна ширине контейнера */
  height: 100% !important;
  /* Высота изображения автоматически рассчитывается, чтобы сохранить пропорции */
  object-fit: cover !important;
  /* Изображение будет растянуто или сжато так, чтобы полностью заполнить контейнер */
  object-position: center !important;
  border-radius: 40px;
}

.blure {
  background: rgba(0, 0, 0, 0.3) !important;
  border-radius: 40px !important;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.editButton {
  position: absolute;
  width: 215px !important;
  height: 45px !important;
  font-size: 20px !important;
  z-index: 11 !important;
}

/* ==== */
.flutter {
  position: relative;
}


.img {
  /* Стилизация изображения */
  z-index: 1;
  /* Убедитесь, что изображение находится выше затемняющего слоя */
}

.dim {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

.blure::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Прозрачный черный цвет */
  z-index: 1;
  /* Гарантирует, что слой будет наверху других элементов */
  border-radius: 40px;
}
@media (max-width: 1500px) {
  .flutter{
    width: 180px;
    height: 230px;
  }
  .editButton{
    width: 150px !important;
    height: 40px !important;
    font-size: 18px !important; 
    padding: 0;
  }
}
@media (max-width: 1700px) {
 /*  .flutter{
    width: 600px;
  } */
}

@media (max-width: 600px) {
  .flutter{
    width: 136px;
    height: 172px;
  }
  .editButton{
    width: 120px !important;
    height: 40px !important;
    font-size: 16px !important; 
    padding: 0;
  }
}