.mainBlock{
    width: 100%;
    height: 80px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.leftBlock,.centerBlock,.button{
    width: 30%;
    height: 100%;
    max-height: 100%;
    font-size: 16px;
}

.leftBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;

}
.centerBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffff;
}
.button{
    width: 360px;
    font-size: 18px;
}


@media (max-width: 1520px){

    .leftBlock,.centerBlock,.button{
        width: 30%;
        text-align: center;
        height: 60px;
        font-size: 16px;
    }
    .button{
        width: 230px;
    }
    .leftBlock,.button,.centerBlock{
        font-size: 16px;
        font-weight: 500;
    }
    .mainBlock{
        border-radius: 20px;
        height: 70px;
        min-height: 70px;
    }

}
@media (max-width: 720px){
    .mainBlock{
        padding: 15px;
        min-height: 137px;
        flex-wrap: wrap;
        row-gap: 10px;
        font-weight: normal;
    }
    .leftBlock,.centerBlock{
        text-align: center;
        font-size: 16px;
        padding: 5px;
        width: 45%;
        font-weight: normal;
    }
    .leftBlock{
        line-height: 18px;
        font-weight: normal;
    }
    .button{
        width: 100%;
        height: 40px;
        margin-top: auto;
        font-size: 16px !important;
        font-weight: normal;
    }
}