.topEdit{
    display: flex;
    flex-direction: row;
    
}
.submitChanges{
    margin-right: 15px;
}
.submitChangesIcon{
    width: 35px !important;
    height: 35px !important;

}
.button{
    width: 250px;
    height: 40px;
    font-size: 20px;
    margin-right: 100px;
}

@media (max-width: 1500px) {
    .submitChangesIcon{
        width: 28px !important;
        height: 28px !important;
    
    }
    .button{
        width: 250px;
        height: 40px;
    }
}