.pullingCard {
    margin-top: 15px;
    width: 100%;
    height: 230px;
    border-radius: 20px;
    padding: 23px 18px;
}

.mainRow {
    width: 100%;
    height: 100%;
    column-gap: 50px;
    justify-content: space-between;
}

.leftTop,
.leftButton {
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;

    color: #FFFFFF;
}

.leftTop {
    text-align: center;
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.column {
    row-gap: 10px;
}

.leftButton {
    width: 300px;
    padding: 25px 15px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
    height: 120px;
    text-align: center;
}

.stringHardnes {
    font-size: 35px;
}

.stringName {

    margin-top: 20px;
}

.centerBlock {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.racketImage {
    width: 530px;
    height: 220px;
    transform: translate(40px, 35px);
}

.stringImage {
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translate(60px, 10px);
}

.feedbackPhoto {
    margin-left: 18px;
    width: 40px;
    height: 40px;
}

.button {
    margin-top: auto;
    width: 100%;
    height: 45px;
    font-size: 18px;
}

.dateTimeBlock {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

@media (max-width: 1500px) {
    .pullingCard {
        height: 200px;
        padding: 10px;

    }

    .leftTop {
        width: 185px;
        height: 45px;
    }

    .leftButton {
        width: 185px;
        height: 100px;
        /*    padding: 10px 10px; */
        padding: 1px;
        justify-content: center;
    }

    .stringHardnes {
        font-size: 28px;
        margin: 0;
    }

    .stringName {
        margin-top: 5px;
        font-size: 16px;
        margin: 0;
    }

    .mainRow {
        column-gap: 15px;
    }

    .leftTop {
        font-size: 16px;
        row-gap: 0px;
    }
    .feedbackPhoto{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1200px),
(max-height: 700px) {

    .leftTop,
    .leftButton {
        font-size: 16px;
    }

    .stringHardnes {
        font-size: 27px;
    }

    .stringName {
        font-size: 12px;
        line-height: 12px;
        font-weight: normal;
        margin-top: 5px;

    }

    .button {
        height: 40px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
/*     .stringName{
        font-size: 100px;
    } */
    .pullingCard {
        padding: 10px 10px;
        height: 250px;
    }

    .mainRow {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        column-gap: 20px !important;

    }

    .leftTop,
    .leftButton,
    .dateTimeBlock,
    .leftTop {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        font-size: 16px;
        line-height: 18px;
    }


    .dateTimeBlock {
        height: auto !important;
        padding: 5px !important;
    }

    .leftTop {
        line-height: 18px;
        height: 60px;
        padding: 10px;
    }

    .leftButton {
        width: 100%;
        height: 100px;
        padding: 10px 10px;
        justify-content: center;
    }

    .stringHardnes {
        font-size: 22px;
    }

    .button {
        width: 100%;
    }

    .feedbackPhoto {
        width: 37px;
        height: 37px;
    }
}

@media (max-width: 350px) {

    .leftTop,
    .leftButton {
        font-size: 16px;
    }
}