.racketBlock {
    position: relative;
    width: 397px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.racketImg {
    width: 312px;
    height: 125px;
}

.racketName {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;

}

.dimBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    border-radius: 40px !important;
}

.actionsButton{
    width: 60px;
    height: 60px;
}

.actionsImg{
    width: 40px;
    height: 40px;
    margin: auto;
}


@media (max-width: 1500px){
    .racketBlock {
        width: 270px;
        height: 125px;
        padding-top: 5px;
        border-radius: 20px;
    }
    .racketImg{
        width: 200px;
        height: 80px;
    }
    .racketName{
        font-size: 18px;
    }

    .actionsButton{
        width: 50px;
        height: 50px;
    }

    .actionsImg{
        width: 35px;
        height: 35px;
    }
}