.racketBlock {
    position: relative;
    width: 100%;
    height: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 20px;
}

.racketImg {
    width: 100px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}

.racketName {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;

}
.deleteButton{
    background: #C44637;
}

.editButton{

    background: #FFBA00;
}
.buttonRow{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.actionsButton{
    width: 35px;
    height: 35px;
}

.actionsImg{
    width: 35px;
    height: 35px;
    margin: auto;
  
}


@media (max-width: 1500px){

 
    .racketBlock {
        
        height: 30px;
        min-height: 30px;
 
        border-radius: 15px;
    }
    .racketImg{
        width: 60px;
        height: 25px;
    
        font-size: 10px;
        line-height: 10px;
    }
    .racketName{
        font-size: 16px;
        font-weight: normal;
    }

    .actionsButton {
        width: 20px;
        height: 20px;
        border-radius: 8px;
    }

    .actionsImg {
        min-width: 18px ;
        height: 18px ;
    }
    
}