.main{
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}
.main input{
    width: 100%;
}
.title{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;

text-align: center;

color: #30484D;


}
.mainRow{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
}
.button{
    margin-top: 10px;
    width: 100%;
    height: 45px;
    font-size: 20px;
}
.errorInput{
    position: absolute;
    transform: translateY(80px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF2430;
}
.input{
    height: 45px;
}
@media (max-width: 1500px) {
    .main{
        height: 95vh;
        padding: 15px 60px;
    }
    .mainRow{
        column-gap: 60px;
        row-gap: 10px;
    }

    .button{
        margin-top: 10px;
        width: 100%;
        height: 45px;
        font-size: 18px;
        font-weight: 400;
    }
}    
@media (max-height: 920px) {
    
}
@media (max-height: 920px) {
    .mainRow{
        height: 600px;
    }
}

@media (max-width: 600px){
    .errorInput {
        transform: translateY(75px);
    }
}