.item {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
}

.active {
    background-color: #333333;

}

.image {
    width: 30px;
    height: 30px;

}

.text {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 7px;

    font-family: 'Poppins';

    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;


}

.profileImage {
    overflow: hidden;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    width: 100%;
    height: 100%;
}
@media (max-width: 1500px){
    .item {
        height: 55px;
    }
    .text {
        font-size: 16px;
        margin-left: 7px;
    }
    .image,.profileImage {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 1180px){
    .text {
        font-size: 19px;
    }
    .image,.profileImage {
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 600px) {
    .text {
        font-size: 18px;
    }
    .image{
        width: 30px;
        height: 30px;
    }
}