.select{
    width: 395px;
    height: 50px;
    width: 360px;
    height: 50px;
    border: 2px solid #232323;
    border-radius: 5px;
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
 
}
.grad{
    transform: rotate(0deg) !important;
}
.arrow{
    z-index: 1;
    transform: rotate(180deg);
    width: 23px;
    height: 13px;
}
.defaultValue{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: rgba(24, 24, 24, 0.3);
    
}
.optionList{
    z-index: 100;
    position: absolute;
    transform: translateY(5px);
    width: 360px;
    max-height: 330px;
    background: #FFFFFF;
    border: 2px solid #232323;
    border-radius: 8px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
/*     row-gap: 10px; */
}
.option:hover{
    background-color: rgba(24, 24, 24, 0.3);
}
.option{    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #232323;
    cursor: pointer;

    padding: 0 17px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vorgeschlagene{
    padding: 0 17px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #232323;
    margin-bottom: 5px;
}

.errorInput {
    position: absolute;
    transform: translateY(0px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF2430;
}