.recordCard{
    width: 100%;
    min-height: 200px;
    height: 235px;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blockColumn{
    height: 100%;
    justify-content: space-between;
}
.longBlock{
    width: 570px;
    display: flex;
    justify-content: center;
    height: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}
.longBlock,.rightTopBlock,.button{
    height: 50px;
    font-size: 16px;
}
.rightTopBlock{
    width: 360px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    width: 360px;
    font-size: 18px;

}
@media (max-width: 1520px) {
    .recordCard{
        padding: 15px;
    }
    .longBlock{
        width:470px;
    }
    .button,.rightTopBlock{
        width: 230px;
        font-size: 16px;
    }
}
@media (max-width: 950px) {
    .longBlock{
        width:360px;
        height: 60px;
    }
    .rightTopBlock,.button{
        width: 270px;
        height: 60px;
    }
}

@media (max-width: 720px){
    .topLeftBlockTitle{
        line-height: 18px;
        font-weight: normal;
    }
    .blockColumn{
        width: 47%;
    }
    .longBlock,.rightTopBlock,.button{
        width: 100%;
        font-size: 16px;
        font-weight: normal;
    }
    .longBlock{
    line-height: 20px;
    height: auto;
    font-weight: normal;
    }
    .button{
        font-size: 16px;
        height: 40px;
        font-weight: normal;
    }
    .blockColumn:first-child{
        flex-direction: column-reverse !important;
    }
    .longBlock{
        height: 70px;
    }
}

@media (max-width: 350px){
    .rightTopBlock{
        font-size: 14px;

    }
}