.racketBlock {
    width: 310px;
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.racketNumber {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.racketCode {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 7px;
}

.borderBlock {
    padding: 10px 0;
    width: 270px;
    height: 187px;
    border-radius: 20px;
    border: 1px solid #fff !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.borderBlockTitle {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.borderBlockSubTitle {
    margin-top: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.borderBlockStrings {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0 9px;
    text-align: center;
    margin-top: 10px;
}

.RacketButton {
    margin-top: auto;
    width: 216px;
    height: 40px;
    font-size: 18px;
}

.imageBlock {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.racketgImage {
    padding: 40px 0;
}
.stringImage {
    font-family: 'Montserrat';
    transform: rotate(-90deg) translate(-30px, -45px);
    position: absolute;
    writing-mode: vertical-rl; 
    width: 120px;
    height: 120px;
    writing-mode: vertical-rl; 
    text-align: center;
    color: #fff;
}

.racketgImage {

    font-family: 'Montserrat';
    writing-mode: vertical-rl; 
    text-align: center;
    color: #fff;
    transform: rotate(-90deg) translateY(30px);
    width: 340px;
    min-height: 124px;


}

.borderBlockTuning {
    margin: auto;
}


@media (max-height:900px) {
    .racketBlock{
        max-height: 720px;
    }
    .imageBlock {
        height: 270px;
    }
    .stringImage{
        width: 100px;
        height: 100px;
    }
    .racketgImage {
        width: 267px;
        min-height: 115px;
        height: 105px;
    }
}

@media (max-height:801px) {
    .RacketButton{
        width: 90%;
        height: 40px;
        font-size: 18px;
    }
    .racketBlock{
        max-height: 680px;
        max-width: 270px;

    }
    .borderBlock{
        width: 90%;
        margin: 0 auto;
    }
    .racketNumber {
        font-size: 19px;
    }
    .racketCode{
        margin-top: -3px;
    
    }
    .borderBlock{
        height: 165px;
    }
    .borderBlockStrings{
        margin-top: 3px;
        font-size: 16px;
        font-weight: 500;
    }
    .borderBlockSubTitle{
        font-size: 23px;
        line-height: 27px;
        margin: auto 0px;
    }
    .racketgImage {
        width: 250px;
        min-height: 101px;
        height: 101px;
    }
    .stringImage {
        width: 90px;
        height: 90px;
    }
}
@media (max-height:780px) {
    .stringImage{
        width: 80px;
        height: 80px;
    }
    .racketgImage{
        height: 85px;
        min-height: 85px;
        width: 210px;
    }
    .racketBlock{
        margin-bottom: 10px;
        justify-content: space-between;
    }
}

@media (max-height:700px ) and (min-width: 700px)  {


}
@media (max-height:670px) {
    .stringImage{
        width: 80px;
        height: 80px;
    }
    .racketgImage{
        height: 85px;
        min-height: 85px;
        width: 210px;
    }
 
    .racketBlock{
        max-height: 580px;
        justify-content: space-between;
    }
    .racketBlock{
        max-height: 580px;
        justify-content: space-between;
    }
}


@media (max-width:600px) {
/*     .imageBlock{
        display: none;
    } */
/*     .racketBlock {
        max-height: 650px;
        padding: 12px 0;
        max-width: 270px;
        min-width: 270px;
        height: 97%;
        margin-bottom: auto;
    }

    .stringImage {
        width: 90px;
        height: 90px;
    } */

    .racketgImage {
        width: 267px;
        min-height: 115px;
        height: 105px;
    }

    .racketNumber {
        font-size: 18px;
    }

    .racketCode {
        font-size: 16px;
        margin-top: -3px;
    }
    .borderBlock {
        padding: 5px 0;
        width: 250px;
        height: 146px;

    }
    .borderBlockSubTitle{
        font-size: 25px;
        margin-top: -3px;
    }
    .borderBlockStrings{
       margin: auto;
    }
    .RacketButton{
        height: 37px;
    }
    .borderBlockTuning{
        margin-top: auto;
    }
}
