
.centerBlock{
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    
}
.racketImage{
    width: 530px;
    max-width: 530px;
    height: 220px;
    transform: translate(40px,20px);
}
.stringImage{
    width: 120px;
    height: 120px;
    position: absolute;
    transform: translate(60px,0);


}

@media (max-height:1520px) {
    .racketImage{
        width: 460px;
        max-width: 420px;
        height: 182px;
        transform: translate(10px,50px);
    }
    .stringImage{
        width: 105px;
        height: 105px;
        position: absolute;
        transform: translate(60px,15px);
    
    
    } 
}