

  .swiper-slide{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .swiper-pagination {
    bottom: 0px !important; 
    position: absolute;
    z-index: 100;
  }
  
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #000; 
    opacity: 0.5; 
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1.0; 
  }
  