.selectDateMenu{
    width: 900px;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.blockTitle{
    width: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #30484D;
}
.weeksBlock{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.arrowBLock{
    cursor: pointer;
    width: 110px;
    height: 25px;
    background-color: #ffff;
    border: 1px solid #232323;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weekBlockSelected{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
.arrow{
    width: 50px;
    height: 10px;
}
.rotate{
    transform: rotate(180deg);
}
.weekBlock{
    width: 150px;
    height: 25px;
    border: 1px solid #232323;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #181818;
    cursor: pointer;

}
.noActive{
    background: rgba(217, 217, 217, 0.3);
    border: 0.5px solid #BCBCBC;  
}
.noActive >img{
    opacity: 0.5;
}
.currentWeek{
    
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    max-height: 420px;

}
.daysBlock{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #BCBCBC;
}
.weekDay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #BCBCBC;
}
.dateTimeBlock{
    padding: 5px 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    max-height: 100%;
    min-height: 300px;
    overflow-y: auto;
}
.dateTimeColumn{

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.dateTimeColumn,.weekDay{
    width: 90px;
}
.dateTime{
    cursor: pointer;
    width: 100%;
    min-height: 35px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #BCBCBC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;

    color: #232323;


}

.dateTimeError{
    border: 2px solid red;
}
.buttonRow{
    margin-top: 20px !important;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button{
    width: 390px;
    height: 45px;
    font-size: 20px;

}
.booked{
    background: rgba(217, 217, 217, 0.3);
    border: 0.5px solid #BCBCBC;
    color: #BCBCBC;
}
.selected{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1500px){
    .selectDateMenu{
        width: 800px;
    }
    .weekDay,.dateTimeColumn{
        width: 80px;
    }

    .weekBlock{
        width: 130px;
        height: 25px;
    }
    .arrowBLock{
        width: 80px;
    }
    .button{
        width: 290px;
        height: 40px;
        font-size: 18px;
        font-weight: normal;
    }
}
@media (max-width: 950px){
    .selectDateMenu{
        width: 95%;
    }

}
@media (max-width: 600px){
    .line{
        width: 1px;
        min-width: 1px;
        background: rgba(0, 0, 0, 0.3);
    }
    .line{
        
    }
    .currentWeek{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    
    }
    .buttonRow{
        width: 100%;
        margin-top: auto;
        flex-direction: column-reverse !important;
        row-gap: 25px;
        margin-bottom: 5                                                                                                                                                                                                                                                       px;
    }
    .dateTimeColumn{
        width: 15.3%;
   
    }
    .dateTime{
        height: 35px ;
        min-height: 35px;
    }
    .button{
        width: 100%;
        height: 45px;
        font-size: 18px;
    }
    .selectDateMenu{
     
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .weekBlock{
        width: 90px;
        font-size: 14px;
    }

    .weekDay{
        line-height: 18px;
        font-size: 16px;

    }
    .arrowBLock{
        width: 40px;
    }
    .arrow{
        width: 30px;
        height: 8px;
    }
}

@media (max-width: 400px){
    .arrowBLock,.weekBlock{
        line-height: 16px;
        height: 20px;
    }

    .currentWeek{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        max-height: 420px;
    
    }

    .buttonRow{
        margin-top: auto;
        row-gap: 10px;
    }
}
@media (max-width: 480px){
    .dateTime{
        min-height: 25px;
        height: 25px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;

    }


    .arrowBLock,.weekBlock{
        line-height: 14px;
        font-size: 13px;
        height: 18px;
    }
}

@media (max-width: 430px){
    .arrowBLock{
        width: 25px;

    }
    .arrow{
        width: 90%;
        height: auto;
    }
    .weeksBlock{
        column-gap: 3px;
    }
}


@media (max-height:700px){
    .selectDateMenu{
        padding: 0;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }
    .weekDay{
        line-height: 18px;
    }
    .dateTimeBlock{
        max-height: 270px;
        min-height: 270px;
    }
    .buttonRow{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
    .button{
        height: 40px;
    }
}
